.addcar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 120px 0 0 0;
    font-weight: 300;
    font-size: 1.2rem;
}

.addcarinput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 10px 0 10px 0;
}
