.main {
  margin-top: 90px;
    background: lightslategray;
    height: 100vh;
    width: 100vw;
    color: white;
    font-family: Roboto, serif;
}

.ordersHeader {
  text-align: center;
  font-family: Roboto, serif;
  font-weight: 300;
  font-size: 1.5rem;
}

.container {
  width: 90%;
  margin: 20px auto;
}

.orderItem {
  border: 1px solid white;
}
