.servicelist {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: lightslategray;
    padding: 91px 20px 0 20px;
    font-weight: 300;
}

.buttonDateTime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.whitetext {
    color: white;
}

.servicesList {
  border: 1px solid white;
  border-radius: 10px;
  padding: 7px;
  height: 160px;
  margin: 5px 0;
}

.servicesWrapper {
  height: 100%;
   margin: 0em;
   overflow-y: auto;
}

.listHeader {
  font-weight: bold;
}

