.selectcomponentsbutton {
    display: flex;
    margin: 14px 0 14px 0;
}

.selectcomponentsbuttonplus {
    background-color: transparent;
    color: white;
    border: 1px solid #e7e7e7;
    padding: 8px 16px 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 20px 0 0;
    transition-duration: 1s;
    cursor: pointer;
    border-radius: 5px;
}

.selectcomponentsbuttonplus:hover {
    background-color: #e7e7e7;
    border-radius: 7px;
}

/*body {*/
/*    background: #ffffff;*/
/*    color: #414141;*/
/*    font: 400 17px/2em 'Roboto';*/
/*}*/

/*.select-box {*/
/*    cursor: pointer;*/
/*    position : relative;*/
/*    max-width:  20em;*/
/*    margin: 5em auto;*/
/*    width: 100%;*/
/*}*/

/*.select,*/
/*.label {*/
/*    color: #414141;*/
/*    display: block;*/
/*    font: 400 17px/2em 'Roboto';*/
/*}*/

/*.select {*/
/*    width: 100%;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    padding: 5px 0;*/
/*    height: 40px;*/
/*    opacity: 0;*/
/*    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";*/
/*    background: none transparent;*/
/*    border: 0 none;*/
/*}*/

/*.select-box1 {*/
/*    background: #ececec;*/
/*}*/

/*.label {*/
/*    position: relative;*/
/*    padding: 5px 10px;*/
/*    cursor: pointer;*/
/*}*/

/*.open .label::after {*/
/*    content: "▲";*/
/*}*/

/*.label::after {*/
/*    content: "▼";*/
/*    font-size: 12px;*/
/*    position: absolute;*/
/*    right: 0;*/
/*    top: 0;*/
/*    padding: 5px 15px;*/
/*    border-left: 5px solid #fff;*/
/*}*/
