.orderItemComplite {
  border: 1px solid #a7a2a2;;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
  color: #a7a2a2;
}

.orderItem:hover {
  background-color: whitesmoke;
  color: #778798;
  transition: all 0.4s;
  border-radius: 5px;
}

.orderItemActive {
  border: 1px solid whitesmoke;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
  color: whitesmoke;
}
